@use "@material/button/button" as button; // here button/button worked fine
@use "@material/checkbox/checkbox" as checkbox;
@use "@material/icon-button/icon-button" as icon-button; // here had to use checkbox/_index.scss
@use "@material/data-table/data-table";
@use "@material/layout-grid/mdc-layout-grid";
@use "@material/drawer";
@use "@material/list";

@include drawer.core-styles;
@include drawer.dismissible-core-styles;
@include drawer.modal-core-styles;
@include list.deprecated-core-styles;

@include checkbox.core-styles;
@include icon-button.core-styles;
@include data-table.core-styles;
@include data-table.theme-baseline;
@include button.core-styles;

.table-center {
  position: absolute;
  top:200px;
  left: 200px;
  right: 200px;

  margin: auto;
}

.mdc-data-table__row {
  margin-top: 5px;
}

img {
  width:50px;
  margin: 5px;
  vertical-align: middle;
}

.score {
  display: inline;
  vertical-align: middle;
}